h1 {
    font-family: sans-serif;
    text-align: center;

    a.startRecording {
        color: red;
        cursor: pointer;
    }
}

div.video {
    height: 480px;
    margin: 0 auto;
    width: 640px;

    video {
        display: block;
        height: 100%;
        width: 100%;
    }

    canvas {
        display: block;
        position: relative;
        top: -100%;
        height: 100%;
        width: 100%;
    }
}

audio {
    display: block;
    margin: 5px auto;
    width: 320px;
}

ul {
    list-style-type: none;
    margin: 0 auto;
    width: 850px;

    li {
        display: inline-block;
        margin: 5px;
    }
}